*, *::after, *::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 35vw;
    height: 50vh;
    background-color: cyan;
    padding: 2%;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    display: inline-block;
    flex: 1;
}

select {
    margin-top: auto;
    align-self: flex-start;
}

input, .selectDiv {
    flex: 2;
    height: 2rem;
}

.formRow {
    display: flex;
    align-items: flex-end;
}

.selectDiv {
    display: flex;
}


#email:invalid, #password:invalid, #rePassword:invalid, #zipCode:invalid {
    border: 2px solid rgba(255, 0, 0, 0.582);
}

#email:invalid:focus, #password:invalid:focus, #rePassword:invalid:focus, #zipCode:invalid:focus {
    border: 1px solid rgba(0, 0, 0, 0.582);
}

.spanError {
    height: auto;
    display: block;
    font-size: 12px;
    color: red;
    margin-left: 33%;
}
.errors {
    margin-top: 10px;
    font-size: 12px;
    color: red;
}
